.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
}

.admin-link:hover {
  color: #aaa;
}

.sign-in-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #6c757d;
  color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.sign-in-button:hover {
  background-color: #5a6268;
}

.sign-in-button img {
  margin-right: 0.5rem;
}


/* Sign Out Button */
.sign-out-button {
  background-color: #dc3545; /* Red background */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
}

.sign-out-button:hover {
  background-color: #a71d2a; /* Darker red on hover */
}